include ../text-button/text-button.pug

//- Параметры:
  elements - массив элементов дропдауна [{name: "Спальни", nameForms: ["Спальня","Спальни","Спален"], value: "2", min: "0", max: "5"},
                                         {name: "Кровати", nameForms: ["Кровать","Кровати","Кроватей"], value: "2", min: "0", max: "5"}]
  buttons - наличие кнопок внизу (true or false)
  resultDefault - строка которая выводится при нулевых значениях (Сколько гостей)
  keyWords - напр: ["гость","гостя","гостей"]. Если задан, результат выводится как сумма всех значений + keyWords (5 гостей).
    если не задан, результат выводится через запятую (1 спальня, 2 кровати).
    
mixin dropdown({ title, elements, hasButtons, resultDefault, keyWords=null, isExpanded })

  .dropdown.js-dropdown(data-default=resultDefault, data-key-words=keyWords)
    .dropdown__title= title
    .dropdown__wrapper.js-dropdown__wrapper
      .dropdown__arrow expand_more
      input.dropdown__input.js-dropdown__input(class=isExpanded && "dropdown__input_expanded", readonly, type="text", value=resultDefault)
    .dropdown__elements.js-dropdown__elements(class=isExpanded && "dropdown__elements_expanded")
      each item in elements
        - const { name, nameForms, value = 0, min = 0, max = 5 } = item
        .dropdown__element.js-dropdown__element
          .dropdown__name.js-dropdown__name(data-name-forms=nameForms)= name
          button.dropdown__button.dropdown__button_has-margin.js-dropdown__button(type="button" data-type="minus") -
          .dropdown__count.js-dropdown__count(data-min=min, data-max=max)= value
          button.dropdown__button.js-dropdown__button(type="button" data-type="plus") +
      if(hasButtons)
        .dropdown__bottom-buttons.js-dropdown__bottom-buttons
          .dropdown__clear.js-dropdown__clear
            +text-button({ text: "Очистить" })
          .dropdown__apply.js-dropdown__apply
            +text-button({ text: "Применить" })