include ../like-button/like-button.pug

mixin comment({ avatar, name, dateText, likeButton, text })

  .comment
    .comment__author
      .comment__avatar
        img.comment__image(src=require(`@components/comment/image/${avatar}`).default, alt="Avatar")
      .comment__wrapper
        .comment__name= name
        .comment__date-text= dateText
    .comment__feedback
      .comment__like-button
        - const { count, isLiked } = likeButton
        +like-button({ count, isLiked })
      .comment__text= text
    