include ../like-button/like-button.pug

mixin comment({ avatarImage = 'avatar1.jpg', userName = 'string', dateText = '5 дней назад', likeButton = { count: 12, isLiked: true }, commentText = 'string' })

  .comment.js-comment
    .comment__author
      .comment__avatar
        img.comment__image(src=require(`@components/comment/image/${avatarImage}`).default, alt="Avatar")
      .comment__wrapper
        .comment__name= userName
        .comment__date-text= dateText
    .comment__feedback
      .comment__like-button.js-comment__like-button
        - const { count, isLiked } = likeButton
        +like-button({ count, isLiked })
      .comment__text= commentText
    