include ../toxin-logo/toxin-logo.pug
include ../text-field/text-field.pug
include ../subscription/subscription.pug
include ../social-media/social-media.pug

mixin footer({ footerText, menu, subscriptionTitle, subscriptionText, copyright })

  .footer
    .footer__content
      .footer__wrapper
        .footer__about-hotel
          .footer__toxin-logo
            +toxin-logo()
          .footer__text= footerText
        each item in menu
          - const { title, submenu } = item
          nav.footer__item
            .footer__subtitle= title
            each subitem in submenu
              - const { url, text } = subitem
              a(href=url).footer__subitem= text
        .footer__subscription
          .footer__subtitle= subscriptionTitle
          .footer__subscription-text= subscriptionText
          .footer__subscription
            +subscription({ placeholder: 'Your email address', isRequired: true })
    .footer__copyright
      .footer__text= copyright
      .footer__social-media 
        +social-media()