include ../toxin-logo/toxin-logo.pug
include ../text-field/text-field.pug
include ../subscription/subscription.pug
include ../social-media/social-media.pug

mixin footer({ footerText = 'string', menuList = [{ title: 'string', submenu: [{ url: '/mock-address', text: 'string' }, {}] }, {}], subscriptionTitle = 'string', subscriptionText = 'string', copyrightText = 'string' })

  .footer
    .footer__content
      .footer__wrapper
        .footer__about-hotel
          .footer__toxin-logo
            +toxin-logo()
          .footer__text= footerText
        each item in menuList
          - const { title, submenu } = item
          nav.footer__item
            .footer__subtitle= title
            each subitem in submenu
              - const { url, text } = subitem
              a(href=url).footer__subitem= text
        .footer__subscription
          .footer__subtitle= subscriptionTitle
          .footer__subscription-text= subscriptionText
          .footer__subscription
            +subscription({ placeholder: 'Your email address', isRequired: true })
    .footer__copyright
      .footer__text= copyrightText
      .footer__social-media 
        +social-media()