include ../rate-button/rate-button.pug

mixin room-card({images, number, isLux, costForDay, activeStars, numOfComments})

  -
    let noLux = ""
    if(!isLux)
      noLux= "_no-lux"

  .room-card.js-room-card
    .room-card__preview
      .room-card__gallery.js-room-card__gallery
        img.room-card__picture(src=require(`@components/room-card/image/${images[0]}`).default, alt="room picture1")
        img.room-card__picture(src=require(`@components/room-card/image/${images[1]}`).default, alt="room picture2")
        img.room-card__picture(src=require(`@components/room-card/image/${images[2]}`).default, alt="room picture3")
        img.room-card__picture(src=require(`@components/room-card/image/${images[3]}`).default, alt="room picture4")
      .room-card__arrow.js-room-card__arrow keyboard_arrow_left
      .room-card__arrow.room-card__arrow_pos_right.js-room-card__arrow_pos_right keyboard_arrow_left
      .room-card__circles
        .room-card__circle.room-card__circle_active.js-room-card__circle
        .room-card__circle.js-room-card__circle
        .room-card__circle.js-room-card__circle
        .room-card__circle.js-room-card__circle
    .room-card__info
      .room-card__wrapper
        a(href="/mock-address", class= "room-card__link" + noLux).room-card__link № 
          span.room-card__number #{number}
        if(isLux)
          .room-card__lux ЛЮКС
        .room-card__cost #{costForDay}&#8381;
        .room-card__for-day в сутки
      .room-card__border
      .room-card__wrapper
        +rate-button({activeStars: activeStars})
        .room-card__num-of-comments #{numOfComments}
        .room-card__comments Отзывов